@using WWW_APP_PROJECT.Data.Enum
@using WWW_APP_PROJECT.ViewModels
 @using Microsoft.AspNetCore.Identity
@using WWW_APP_PROJECT.Data
@model Team;
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title> Dashboard</title>
    <!--MY CSSS-->
    <link rel="stylesheet" href="css/site.css" />
    <!--Fonts-->
    <!--Holtwood One SC-->
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <!--Abel-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <!-- Roboto Condensed-->
    <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

    <!--TrophyIcon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <div class="grid-container">

        <!--SideBar-->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Tournament" asp-action="Index">dashboard</a>  <a class="nav-link text-light" asp-area="" asp-controller="Tournament" asp-action="Index">Tournament Manager</a>
                </div>
                <span class="material-symbols-outlined" oncklick="closeSidebar()">close</span>
            </div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Tournament" asp-action="Index">rewarded_ads</a>   <a class="nav-link text-light" asp-area="" asp-controller="Tournament" asp-action="Index">Tournaments</a>
                </li>
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Team" asp-action="Index">team_dashboard</a> <a class="nav-link text-light" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                </li>

                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="User" asp-action="Index">group</a> <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                </li>

            </ul>
            <ul class="sidebar-list on-bottom-container">
                <!-- Ustawienia Na Dole -->
                <li class="sidebar-list-item">
                    <a class="material-symbols-outlined" asp-area="" asp-controller="Dashboard" asp-action="Settings">settings</a> <a class="nav-link text-light" asp-area="" asp-controller="Dashboard" asp-action="Settings">Settings</a>
                </li>
            </ul>
        </aside>



        <!--End Sidebar-->
        <!--Main-->
        <main class="main-container">
            <div class="main-title">
                <h2>Team Details</h2>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid rounded" src="@Model.ImageUrl" alt="@Model.Name">
                    </div>
                    <div class="col-md-4">
                        <h2>Team Name: @Model.Name</h2>
                        <p class="lead">Dyscypline: @Model.TeamSportDiscipline</p>
                        <div class="margin">
                            <a class="btn btn-dark  fixed-width-btn" asp-area="" asp-controller="TeamPlayer"
                               asp-action="Create" asp-route-teamId="@Model.Id">Add Player</a>
                        </div>
                        <h4>List of players</h4>
                        <div class="row">
                            @foreach (var player in Model.TeamPlayers)
                            {

                                    <div class="card-body box-shadow small-card" style="background-color: rgba(0, 0, 0, 0.1);">
                                        <div class="d-flex justify-content-between" style="flex-direction: row;">
                                            <p class="card-text no-wrap">@player.FirstName @player.LastName</p>
                                                <a class="material-symbols-outlined small-icon-material-symbols-outlined " asp-area="" asp-controller="TeamPlayer"
                                               asp-action="Detail">lightbulb</a>
                                                <a class="material-symbols-outlined small-icon-material-symbols-outlined" asp-area="" asp-controller="TeamPlayer"
                                               asp-action="Edit">edit</a>
                                                <a class="material-symbols-outlined  small-icon-material-symbols-outlined" asp-area="" asp-controller="TeamPlayer"
                                               asp-action="Delete">delete</a>
                                        </div>
                                    </div>
                              

                            }
                        </div>
                    </div>
                </div>
            </div>




    </div>
    </main>

    <!--End Main-->
    </div>

    <!-- MY JS -->
    <script src="js/site.js"></script>
</body>
</html>





