@model List<TeamTournament>
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "SidebarLayout";

}
<div class="main-title">
    <h2>Tournaments</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-dark fixed-width-btn" asp-area="" asp-controller="Tournament" asp-action="Create">Create Tournament</a>
    }
</div>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="background-color: rgba(0, 0, 0, 0.1);">
                    <div class="card-body">
                        <img class="card-img-top card-img-top margin-top" src="@item.ImageUrl" alt="Card image cap">
                        <p class="card-text">Name: @item.Name</p>
                        <p class="card-text">Descritpion: @item.Description</p>
                        <p class="card-text">Sport: @item.TeamSportDiscipline</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="btn btn-success" asp-controller="Tournament" asp-action="Manage" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Manage</a>
                                <a type="btn btn-success" asp-controller="Tournament" asp-action="Details" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Details</a>
                                <a type="btn btn-success" asp-controller="Share" asp-action="Create" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Share</a>
                                <a type="btn btn-success" asp-controller="Tournament" asp-action="Delete" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                            <small class="text-muted">Type: @item.TournamentType</small>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>







