@model TeamPlayer;
@{
    Layout = "SidebarLayout";
}
<div class="main-title">
    <h2>Player Details</h2>
</div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded" src="@Model.ImageUrl">
        </div>
        <div class="col-md-4">
            <h2>First Name: @Model.FirstName</h2>
            <p class="lead">Last Name: @Model.LastName</p>
            <p class="lead">Age: @Model.Age</p>
            
           
            
        </div>
    </div>

<div class="d-flex justify-content-between mt-3">
    <a class="btn btn-dark fixed-width-btn" asp-area="" asp-controller="TeamPlayer"
       asp-action="Edit" asp-route-Id="@Model.Id">Edit player</a>
    <a class="btn btn-dark fixed-width-btn" asp-area="" asp-controller="TeamPlayer"
       asp-action="Delete" asp-route-Id="@Model.Id">Delete player</a>

    <a class="btn btn-dark fixed-width-btn" asp-area="" asp-controller="Team"
       asp-action="Detail" asp-route-Id="@Model.TeamId">Back to team</a>

</div>
